.country-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin: 0 auto;
}

.country-grid .card:last-of-type {
  margin-bottom: 3rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .country-grid {
    margin: 0 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .country-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .country-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .country-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Iphone 5 */
@media only screen and (max-width: 340px) {
  .country-grid {
    margin: 0 1rem;
  }
}
