.card {
  display: flex;
  flex-direction: column;
  background: var(--elements);
  border-radius: 6px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.card .flag {
  max-height: 300px;
  width: 100%;
}

.flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16/9;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.card .country-info {
  width: 100%;
  padding: 1.5rem 1.5rem 2rem;
  text-decoration: none;
  color: var(--text);
}

.country-info h3 {
  margin-bottom: 1rem;
}

.country-info ul {
  list-style: none;
}

.country-info ul li {
  margin-bottom: 8px;
  font-weight: 300;
}
.country-info ul li:last-child {
  margin-bottom: 0;
}

.country-info ul span {
  font-weight: 600;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
